---
import type { Icon } from "@/components/icons";
import Email from "@/components/icons/Email.astro";
import GitHub from "@/components/icons/GitHub.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import Telegram from "@/components/icons/Telegram.astro";

import { basics } from "@resume";

const { name, label, image, profiles } = basics;

const icons: Icon = {
  Email,
  GitHub,
  LinkedIn,
  Telegram,
};
---

<header>
  <div>
    <h1>{name}</h1>
    <h3>{label}</h3>
    <ul class="print:hidden">
      {
        profiles.map((profile) => {
          const Icon = icons[profile.network];

          return (
            <li>
              <a href={profile.url} target="_blank" rel="noopener">
                <Icon />
              </a>
            </li>
          );
        })
      }
    </ul>
    <p class="hidden print:block">
      {
        profiles
          .map((profile) => `${profile.network}: ${profile.url}`)
          .join(" • ")
      }
    </p>
  </div>
  <div>
    <img src={image} alt={name} />
  </div>
</header>
