---
import type { Icon } from "@/components/icons";
import Email from "@/components/icons/Email.astro";
import GitHub from "@/components/icons/GitHub.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import Telegram from "@/components/icons/Telegram.astro";

import { basics } from "@resume";

const { name, label, image, email, profiles, location } = basics;

const icons: Icon = {
  Email,
  GitHub,
  LinkedIn,
  Telegram,
};

const linkedIn = profiles.find(
  (profile) => profile.network === "LinkedIn"
)?.url;
const printableProfiles = [email, linkedIn].join(" • ");
---

<header class="flex flex-row items-center justify-between mt-4 gap-4">
  <div>
    <h1 class="text-4xl print:text-2xl font-bold">{name}</h1>
    <h3 class="text-2xl print:text-xl font-semibold">{label}</h3>
    <p class="font-thin">{location.city}, {location.region}</p>
    <ul class="print:hidden">
      {
        profiles.map((profile) => {
          const Icon = icons[profile.network];

          return (
            <li>
              <a href={profile.url} target="_blank" rel="noopener">
                <Icon />
              </a>
            </li>
          );
        })
      }
    </ul>
    <p class="hidden print:block text-xs font-light">{printableProfiles}</p>
  </div>
  <div>
    <img
      src={image}
      alt={name}
      class="aspect-square object-cover w-[128px] rounded-2xl"
    />
  </div>
</header>
